.obsidian/workspace.json
.obsidian/workspace-mobile.json

.obsidian/cache
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-git/main.js.map

.trash/

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.swp
*~
.stfolder/
.stignore
*.sync-conflict
